<h1>Stock This</h1>

<%= form_tag root_path, :method => 'POST' do %>
  <%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
  <%= submit_tag 'Lookup' %>
<% end %>
<br>
<% if @stock %>
  <% if @stock == "" %>
    That doesn't exist?!?!
  <% end %>
  <%= @stock.company_name %>
  <br>
  <%= @stock.employees %>
  <br>
  <%= @stock.week_52_high_dollar %>
  <br>
  <%= @stock.week_52_low_dollar %>
<% elsif @nothing %>
    <%= @nothing %>
<% end %>

<% if @error %>
  <%= @error %>
<% end %>
